<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>고객센터 게시판</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <style>
    #writeNewButton {
      float: right;
      right: 0;
    }
  </style>
</head>

<body>

  <header>
    <h2>고객센터 게시판</h2>
  </header>

  <main class="container mb-5">
    <a href="/board/new" class="btn btn-outline-primary" id="writeNewButton">글 쓰기</a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">제목</th>
          <th scope="col">수정/삭제</th>
          <th scope="col">작성자</th>
          <th scope="col">작성일</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% posts.forEach(post=> { %>
          <tr>
            <th scope="row">
              <%= post.id %>
            </th>
            <td>
              <a class="table-row" href="/board/view/<%= post.id %>">
                <% if (post.parent_id !=null) {%>
                  <i class="bi bi-arrow-return-right"> </i>
                  <% } %>
                    <%= post.title %>
              </a>
            </td>
            <td>
              <a href="/board/edit/<%= post.id %>" type="button" class="btn btn-outline-secondary"><i
                  class="bi bi-pencil"></i></a>
              <a href="/board/delete/<%= post.id %>" type="button" class="btn btn-outline-secondary"><i
                  class="bi bi-trash"></i></a>
            </td>
            <td>
              <%= post.author %>
            </td>
            <td>
              <%= post.created_at %>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </main>

</body>

</html>