<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>
    <%= post.title %> - 게시글 보기
  </title>
  <style>
    .container {
      margin: auto;
    }
  </style>
</head>

<body>
  <div class="container py-4">
    <div class="col-m-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>
          <%= post.title %>
        </h2>
        <p style="color: gray;">
          작성자: <%= post.author %> | 작성일: <%= post.created_at %>
        </p>
        <p>
          <%= post.content %>
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <% if (files && files.length> 0) { %>
      <a href="/uploads/<%= files[0].filename %>" download type="button" class="btn btn-outline-secondary">
        <i class="bi bi-box-arrow-in-down"></i> 첨부파일 <%= files[0].filename %>
      </a>
      <% } %>
  </div>

  <div class="container">
    <% if (post.parent_id !=null) { %>
      <div class="text-start mb-4">
        <a class="btn btn-outline-secondary" href="/board/view/<%= post.parent_id %>">
          <i class="bi bi-arrow-left me-2"></i>원글 보러 가기
        </a>
      </div>
      <% } %>
  </div>

  <div class="container mt-3 mb-5">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <a href="/board/reply/<%= post.id %>" type="button" class="btn btn-outline-primary">답글</a>
      <a href="/board/edit/<%= post.id %>" type="button" class="btn btn-outline-primary">수정</a>
      <a href="/board/delete/<%= post.id %>" type="button" class="btn btn-outline-primary"
        onclick="return confirm('정말 삭제하시겠습니까?')">삭제</a>
      <a href="/board" type="button" class="btn btn-outline-primary">목록</a>
    </div>
  </div>

</body>

</html>