<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>
    <%= post ? '글 수정' : (parentId ? '답글 작성' : '새 글 작성' ) %>
  </title>
  <style>
    form {
      margin: 100px;
    }

    h2 {
      text-align: center;
    }
  </style>
</head>

<body>
  <h2>글 수정</h2>

  <form action="/board/edit/<%= post.id %>" method="post">
    <input type="hidden" name="parent_id" value="<%= post ? post.parent_id : parentId %>">

    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="form4Example1">제목</label>
      <input type="text" id="title" name="title" id="form4Example1" class="form-control" value="<%= post?.title %>"
        required />
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="form4Example3">내용</label>
      <textarea id="content" name="content" class="form-control" rows="8"><%= post.content%></textarea>
    </div>

    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mt-4">
      저장
    </button>
  </form>
</body>

</html>