<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>상품 목록</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <style>
    a {
      text-decoration: none;
      color: black;
    }

    a:hover {
      color: black;
    }

    img {
      object-fit: cover;
    }

    .thumbnail {
      height: 300px;
    }

    section>h2,
    section>p {
      text-align: center;
    }

    .productList {
      display: grid;
      grid-template-columns: 320px 320px 320px 320px;
      justify-content: space-between;
    }
  </style>
</head>

<body>
  <section>
    <h2>추천 식물 목록</h2>
    <div class="product-grid">
      <% featuredProducts.forEach(p=> { %>
        <a href="/products/<%= p.id %>">
          <div class="card m-1">
            <img class="thumbnail" src="<%= p.thumbnail %>" />
            <form class="wishListButtonForm" action="/wish/add" method="POST">
              <input type="hidden" name="productId" value="<%= p.id %>">
              <button type="submit" class="btn wishListButton"><i class=" bi bi-suit-heart-fill"></i></button>
            </form>
            <span class="recommendProductSpan">
              <%= p.name %>
            </span>
          </div>
        </a>
        <% }) %>
    </div>
  </section>

  <section>
    <h2>전체 식물 목록</h2>
    <p>현재 등록된 전체 상품: <%= allProducts.length %>개</p>
    <div class="productList">
      <% allProducts.forEach(p=> { %>
        <a href="/products/<%= p.id %>" class="mb-3">
          <div class="card m-1">
            <img class="thumbnail" src="<%= p.thumbnail %>" style="height: 300px;" />
            <% if (p.is_featured===1) { %>
              <i class="bi bi-stars text-warning isFeaturedIcon"></i>
              <% } %>
                <form class="wishListButtonForm" action="/wish/add" method="POST">
                  <input type="hidden" name="productId" value="<%= p.id %>">
                  <button type="submit" class="btn wishListButton"><i class=" bi bi-suit-heart-fill"></i></button>
                </form>
                <div class="card-body text-center">
                  <h5 class="card-title">
                    <%= p.name %>
                  </h5>
                  <p class="card-text">
                    ₩<%= p.price.toLocaleString() %>
                  </p>
                </div>
          </div>
        </a>
        <% }) %>
    </div>
  </section>
</body>

</html>