<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>상품 목록</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <style>
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    a {
      text-decoration: none;
      color: black;
    }

    a:hover {
      color: black;
    }

    img {
      object-fit: cover;
    }

    .thumbnail {
      height: 300px;
    }

    button {
      border: 0;
      background-color: transparent;
      text-shadow: 0px 0px 5px black;
    }

    .whishListButton {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .isFeaturedIcon {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 30px;
      text-shadow: 0px 0px 5px gray;
    }

    .recommendProductSpan {
      color: white;
      text-shadow: 0px 0px 7px black;
      bottom: 10px;
      left: 10px;
      position: absolute;
    }

    section>h2,
    section>p {
      text-align: center;
    }
  </style>
</head>

<body>
  <section>
    <h2>추천 식물 목록</h2>
    <div class="product-grid">
      <% featuredProducts.forEach(p=> { %>
        <a href="/products/<%= p.id %>">
          <div class="card m-1">
            <img class="thumbnail" src="<%= p.thumbnail %>" />
            <!-- TODO: 위시리스트 추가 -->
            <form class="whishListButton" action="#" method="POST">
              <input type="hidden" name="productId" value="<%= p.id %>">
              <button type="submit" style="color: white;""><i class=" bi bi-heart"></i></button>
            </form>
            <span class="recommendProductSpan">
              <%= p.name %>
            </span>
          </div>
        </a>
        <% }) %>
    </div>
  </section>

  <section>
    <h2>전체 식물 목록</h2>
    <p>현재 등록된 전체 상품: <%= allProducts.length %>개</p>
    <div class="product-grid">
      <% allProducts.forEach(p=> { %>
        <a href="/products/<%= p.id %>">
          <div class="card m-1">
            <img class="thumbnail" src="<%= p.thumbnail %>" />
            <!-- TODO: 위시리스트 추가 -->
            <% if (p.is_featured===1) { %>
              <i class="bi bi-stars text-warning isFeaturedIcon"></i>
              <% } %>
                <form class="whishListButton" action="#" method="POST">
                  <input type="hidden" name="productId" value="<%= p.id %>">
                  <button type="submit" style="color: white;""><i class=" bi bi-heart"></i></button>
                </form>
                <div class="card-body text-center">
                  <h5 class="card-title">
                    <%= p.name %>
                  </h5>
                  <p class="card-text">
                    ₩<%= p.price.toLocaleString() %>
                  </p>
                </div>
          </div>
        </a>
        <% }) %>
  </section>
</body>

</html>